/* *{
  outline: 1px solid green;
} */

/* section {
    background-color: white;
    border: solid white 1px;
} */

/*Removed weird white padding around page*/
html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Any link has no decorations and only white */
a {
    text-decoration: none;
    color: white;
}

/*Hero Top Page */
.section-hero {
    background-color: #5c5470;
    height: 100vh;
    color: white;
    font-size: 40vh;
    margin-bottom: 0;
}
/* end hero page*/

/*Nav Section*/

/*Might Remove*/
.fixed-navbar {
    background-color: #323643;
    position: fixed;
    top: 10;
    /*Controls the side to side placement of about and contact*/
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    /* Nav-bar needs to be on top */
    z-index: 99 !important;
}

/*navigation bar flex*/
nav {
    display: flex;
    justify-content: space-between;
}
/* ** About and Contact Buttons ** */
/*removes bullets on the about and contac buttons */
.fixed-navbar ul {
    display: flex;
    list-style-type: none;
    width: 15vh;
    justify-content: space-around;
    padding-right: 1vh;
    font-size: 2vh;
    /* Margin fixed overlapped the about text  */
    margin: 0;
    position: relative;
    top: .5vh;
}

li {
    /*width: 175px;*/
    text-decoration: none;
}

/*End Nav Section*/

h1 {
    font-size: 85px;
    margin: 0;
}

p {
    margin: 0;
}

/*the div to move the name title around*/
.hero-space {
    position: relative;
    display: flex;
    z-index: 0;
    height: 90%;
    justify-content: space-between;
    align-items: center;
}

.headshot {
    width: 370px;
    border-radius: 175px;
}

/* This houses the entire portrait */
.headshot-container {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 37rem;
    top: 1rem;
    bottom: 2rem;
    /* position: 0 50px 0 -500px;
    padding-right: 100px;
    padding-top: 20px; */
}

/*Added margin bottom to move the text upwards*/
.name-title {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 27rem;
    /* left: 40vh; */
    /* margin-left: 3vh; */
    /* margin-right: 6vw;
    padding-left: 4vw; */
    /* margin-bottom: 10vh; */
    /* padding-left: 40vh; */
    /* scale: 125%; */
}


.name-title h1 {
    font-size: 6vw;
    /* position: relative top: 40px; */
}

.name-title p {
    font-size: 5vh;
    text-align: left;
    word-wrap:break-word;
}

/* About button under hero */
.button {
    width: 155px;
    height: 45px;
    background-color: #c3bef0;
    border-radius: 29px;
    text-align: center;
    font-size: 35px;
    font-weight: 200px;
    padding-top: 2px;
    margin-top: 20px;

}


/*Add Hover to the button*/
.button:hover {
    background-color: #e84a5f;
}

.button:active {
    background-color: #97cba9;
    color: #e84a5f
}

.logo {
    height: 40px;
    padding-top: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 5px;
}

.about-pic-social-bttns {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    padding-top: 40px;
}


.social-bttns {
    /*alter padding to move up or down */
    display: flex;
    justify-content: center;
    padding-left: 3.3vh;
    padding-top: 50px;
    padding-bottom: 15px;
    /* padding-left: 70px; */
}


/*Effect Social buttons directly*/
.social {
    margin-left: 15px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    background-color: #dbd8e3;
    /* padding: 100px; */
    /* padding: 50px; */
    padding: 100px 155px  400px 100px;
}

/*about button and social buttons */
.info-container {
    /* padding-top: 1px; */
    /* position: relative; */
    bottom: 5vh;
    /* padding-bottom: 10px; */
}

.info-container p {
    padding-top: 1.2rem;
    position: relative;
    font-family: Helvetica, sans-serif;
    overflow-wrap: break-word;
    letter-spacing: 0.0.2em;
    margin: 0 0 0 25px;
    line-height: 1.1;
}

.about-text {
    text-align: center;
    padding-left: 3.5rem;
    font-size: 2em;
    margin: 0;
}


/* This is the container for the about description */
.description-container {
    /* font-size:  500px;  */
    font-family: Helvetica, sans-serif;
    /* padding-top: 20px; */
}


/* This effects the paragraphs in the description container */
.description-container p {
    /* padding-top: 15px; */
    padding-left: 14px;
    padding-right: 20px;
    font-size: 1.45rem;
    word-wrap: break-word;
    text-align: left;
    hyphens: auto;
    letter-spacing: 0.0.2em;

}

.description-container a {
    text-decoration: none;
    color: black;
}

/* Contact page */
.contact-container {
    width: 100%;
    height: 100vh;
    background: rgb(40, 54, 73);
    display: flex;
    align-items: center;
    justify-content: center;

}

form {
    background: #ffff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 800px;
    max-height: 1000px;
    border-radius: 10px;
}

form h2 {
    color: black;
    font-weight: 800;
    margin-bottom: 20px;
}


form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;

}

form #submit-button {
    /* padding: 15px 0 15px 0; */
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    /* width: 150px; */
    margin: 20px auto 0;
    border-radius: 30px;
}

/* End Contact Page */

footer {
    height: 500px;
    background-color: #2a2438;
}


@media only screen and (max-width: 900px) {
    .fixed-navbar ul {
        padding-right: 1vh;
        font-size: 2vh;
        /* Margin fixed overlapped the about text  */
        margin: 0;
        position: relative;
        top: .5vh;
        width: 14vh;
    }

}

@media only screen and (max-width: 1100px) {
    .name-title {
        /* margin-left: 1vh; */
        /* margin-left: -3vh; */
        padding:0 5px 0 0;
        scale: 85%;
        border: 0;
        /* padding-left: 1vh; */

    }
}

@media only screen and (max-width: 1100px) {
    .logo {
        height: 2.5vh;
    }


}
